In [31]:
from scipy import stats
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd

In [40]:
# start with test data
f_obs = ((683, 2537),(1498, 8747))

#
df = pd.DataFrame(f_obs, columns=[">=30", "<29"], index=["Case","Control"])
df.head()

         >=30   <29
Case      683  2537
Control  1498  8747

## Use chi-square approach to test for

In [26]:
chi2, p, dof, f_exp = chi2_contingency(observed=f_obs)
print(chi2, p)

77.88514590360013 1.092095682798281e-18

## Calculate OR (odds ratio) manually

In [24]:
odds_a = 683 / 2537
odds_b = 1498 / 8747

OR = odds_a / odds_b

print(OR)

1.5719819304467448

## Fisher's Exact test for hypothesis testing

In [15]:
oddsratio, pvalue = stats.fisher_exact(f_obs)
print("OddsR: ", oddsratio, "p-Value:", pvalue)

OddsR:  1.5719819304467446 p-Value: 5.8734739293297086e-18

Using the chi-square test or Fisher's exact test approach, p is significant.

# Use logistic regression to calculate probability

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
lr = LogisticRegression()

In [42]:
df.head()

         >=30   <29
Case      683  2537
Control  1498  8747

In [41]:
pd.melt(df)

  variable  value
0     >=30    683
1     >=30   1498
2      <29   2537
3      <29   8747

In [ ]:
lr.fit()